body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

.hero {
  padding: 100px 20px;
  background: linear-gradient(135deg, #2563eb, #1e3a8a);
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.section {
  padding: 60px 20px;
}

.dark {
  background: #111827;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
}